/* css/larger.css */
@media (min-width: 768px) {
  nav ul {
    flex-direction: row;
    justify-content: center;
  }

  #menuButton {
    display: none;
  }

  #navigation {
    display: block;
  }

  main {
    max-width: 1100px;
    margin: auto;
  }
}

/* Medium screens */
@media (min-width: 641px) {
  .cards {
    grid-template-areas:
      "card1 card2"
      "card3 card4"
      "card5 card6"
      "card7 card8";
  }
}

/* Large screens */
@media (min-width: 1025px) {
  .cards {
    grid-template-areas:
      "card1 card1 card2"
      "card3 card4 card2"
      "card5 card6 card7"
      "card8 card8 card8";
  }

  .card img:hover {
    transform: scale(1.05);
    filter: brightness(1.1);
    transition: 0.3s ease;
  }
}
