@media (min-width: 768px) {
  #menu {
    display: none;
  }

  nav {
    display: flex;
  }

  .about-photo {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
  }

  #course-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
